# -*- mode: config; coding: utf-8 -*-

# common properties
Ice.Default.Locator = IceGrid/Locator -t:tcp -h pike.esi.uclm.es -p 5061

# LibCitisim properties
LibCitisimAdapter.Endpoints = tcp
LibCitisim.UseBiDir = True
#LibCitisim.Debug = True

Ice.ThreadPool.Client.SizeMax = 10
Ice.ThreadPool.Server.SizeMax = 10